<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.modular.CoalMS.dao.TVTrainsumMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.CoalMS.model.TVTrainsum" >
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="FTRAINCODEVCR" property="ftraincodevcr" jdbcType="VARCHAR" />
    <result column="FTRAINORDERVCR" property="ftrainordervcr" jdbcType="VARCHAR" />
    <result column="FARRIVEPORTTIMEDTM" property="farriveporttimedtm" jdbcType="DATE" />
    <result column="FTRAINNUMNUM" property="ftrainnumnum" jdbcType="VARCHAR" />
    <result column="FUNLOADFLAGNUM" property="funloadflagnum" jdbcType="DECIMAL" />
    <result column="FISWEIGHTNUM" property="fisweightnum" jdbcType="DECIMAL" />
    <result column="FWEIGHTDTM" property="fweightdtm" jdbcType="DATE" />
    <result column="FWEIGHTFLAG" property="fweightflag" jdbcType="VARCHAR" />
    <result column="FBELONGDATETIMEDTM" property="fbelongdatetimedtm" jdbcType="DATE" />
    <result column="FSTATSTASTIONNAME" property="fstatstastionname" jdbcType="VARCHAR" />
    <result column="FCOALNAME" property="fcoalname" jdbcType="VARCHAR" />
    <result column="TICKET_NO" property="ticketNo" jdbcType="VARCHAR" />
    <result column="FDISBUTTNAME" property="fdisbuttname" jdbcType="VARCHAR" />
    <result column="FCONSIGNERNAME" property="fconsignername" jdbcType="VARCHAR" />
    <result column="FHEAVYTONNUM" property="fheavytonnum" jdbcType="DECIMAL" />
    <result column="FEMPTYTONNUM" property="femptytonnum" jdbcType="DECIMAL" />
    <result column="FWEIGHTTONNUM" property="fweighttonnum" jdbcType="DECIMAL" />
    <result column="FCHECKTONNUM" property="fchecktonnum" jdbcType="DECIMAL" />
    <result column="FISWEIGHTNUMD" property="fisweightnumd" jdbcType="DECIMAL" />
    <result column="FSTATSTASTIONCODENUM" property="fstatstastioncodenum" jdbcType="DECIMAL" />
    <result column="FCOALCODEVCR" property="fcoalcodevcr" jdbcType="VARCHAR" />
    <result column="TRAINCOUNT" property="traincount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COMPANY, FTRAINCODEVCR, FTRAINORDERVCR, FARRIVEPORTTIMEDTM, FTRAINNUMNUM, FUNLOADFLAGNUM, 
    FISWEIGHTNUM, FWEIGHTDTM, FWEIGHTFLAG, FBELONGDATETIMEDTM, FSTATSTASTIONNAME, FCOALNAME, 
    TICKET_NO, FDISBUTTNAME, FCONSIGNERNAME, FHEAVYTONNUM, FEMPTYTONNUM, FWEIGHTTONNUM, 
    FCHECKTONNUM, FISWEIGHTNUMD, FSTATSTASTIONCODENUM, FCOALCODEVCR, TRAINCOUNT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.modular.CoalMS.model.TVTrainsumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_V_TRAINSUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.modular.CoalMS.model.TVTrainsumExample" >
    delete from T_V_TRAINSUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.modular.CoalMS.model.TVTrainsum" >
    insert into T_V_TRAINSUM (COMPANY, FTRAINCODEVCR, FTRAINORDERVCR, 
      FARRIVEPORTTIMEDTM, FTRAINNUMNUM, FUNLOADFLAGNUM, 
      FISWEIGHTNUM, FWEIGHTDTM, FWEIGHTFLAG, 
      FBELONGDATETIMEDTM, FSTATSTASTIONNAME, FCOALNAME, 
      TICKET_NO, FDISBUTTNAME, FCONSIGNERNAME, 
      FHEAVYTONNUM, FEMPTYTONNUM, FWEIGHTTONNUM, 
      FCHECKTONNUM, FISWEIGHTNUMD, FSTATSTASTIONCODENUM, 
      FCOALCODEVCR, TRAINCOUNT)
    values (#{company,jdbcType=VARCHAR}, #{ftraincodevcr,jdbcType=VARCHAR}, #{ftrainordervcr,jdbcType=VARCHAR}, 
      #{farriveporttimedtm,jdbcType=DATE}, #{ftrainnumnum,jdbcType=VARCHAR}, #{funloadflagnum,jdbcType=DECIMAL}, 
      #{fisweightnum,jdbcType=DECIMAL}, #{fweightdtm,jdbcType=DATE}, #{fweightflag,jdbcType=VARCHAR}, 
      #{fbelongdatetimedtm,jdbcType=DATE}, #{fstatstastionname,jdbcType=VARCHAR}, #{fcoalname,jdbcType=VARCHAR}, 
      #{ticketNo,jdbcType=VARCHAR}, #{fdisbuttname,jdbcType=VARCHAR}, #{fconsignername,jdbcType=VARCHAR}, 
      #{fheavytonnum,jdbcType=DECIMAL}, #{femptytonnum,jdbcType=DECIMAL}, #{fweighttonnum,jdbcType=DECIMAL}, 
      #{fchecktonnum,jdbcType=DECIMAL}, #{fisweightnumd,jdbcType=DECIMAL}, #{fstatstastioncodenum,jdbcType=DECIMAL}, 
      #{fcoalcodevcr,jdbcType=VARCHAR}, #{traincount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.modular.CoalMS.model.TVTrainsum" >
    insert into T_V_TRAINSUM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="company != null" >
        COMPANY,
      </if>
      <if test="ftraincodevcr != null" >
        FTRAINCODEVCR,
      </if>
      <if test="ftrainordervcr != null" >
        FTRAINORDERVCR,
      </if>
      <if test="farriveporttimedtm != null" >
        FARRIVEPORTTIMEDTM,
      </if>
      <if test="ftrainnumnum != null" >
        FTRAINNUMNUM,
      </if>
      <if test="funloadflagnum != null" >
        FUNLOADFLAGNUM,
      </if>
      <if test="fisweightnum != null" >
        FISWEIGHTNUM,
      </if>
      <if test="fweightdtm != null" >
        FWEIGHTDTM,
      </if>
      <if test="fweightflag != null" >
        FWEIGHTFLAG,
      </if>
      <if test="fbelongdatetimedtm != null" >
        FBELONGDATETIMEDTM,
      </if>
      <if test="fstatstastionname != null" >
        FSTATSTASTIONNAME,
      </if>
      <if test="fcoalname != null" >
        FCOALNAME,
      </if>
      <if test="ticketNo != null" >
        TICKET_NO,
      </if>
      <if test="fdisbuttname != null" >
        FDISBUTTNAME,
      </if>
      <if test="fconsignername != null" >
        FCONSIGNERNAME,
      </if>
      <if test="fheavytonnum != null" >
        FHEAVYTONNUM,
      </if>
      <if test="femptytonnum != null" >
        FEMPTYTONNUM,
      </if>
      <if test="fweighttonnum != null" >
        FWEIGHTTONNUM,
      </if>
      <if test="fchecktonnum != null" >
        FCHECKTONNUM,
      </if>
      <if test="fisweightnumd != null" >
        FISWEIGHTNUMD,
      </if>
      <if test="fstatstastioncodenum != null" >
        FSTATSTASTIONCODENUM,
      </if>
      <if test="fcoalcodevcr != null" >
        FCOALCODEVCR,
      </if>
      <if test="traincount != null" >
        TRAINCOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="ftraincodevcr != null" >
        #{ftraincodevcr,jdbcType=VARCHAR},
      </if>
      <if test="ftrainordervcr != null" >
        #{ftrainordervcr,jdbcType=VARCHAR},
      </if>
      <if test="farriveporttimedtm != null" >
        #{farriveporttimedtm,jdbcType=DATE},
      </if>
      <if test="ftrainnumnum != null" >
        #{ftrainnumnum,jdbcType=VARCHAR},
      </if>
      <if test="funloadflagnum != null" >
        #{funloadflagnum,jdbcType=DECIMAL},
      </if>
      <if test="fisweightnum != null" >
        #{fisweightnum,jdbcType=DECIMAL},
      </if>
      <if test="fweightdtm != null" >
        #{fweightdtm,jdbcType=DATE},
      </if>
      <if test="fweightflag != null" >
        #{fweightflag,jdbcType=VARCHAR},
      </if>
      <if test="fbelongdatetimedtm != null" >
        #{fbelongdatetimedtm,jdbcType=DATE},
      </if>
      <if test="fstatstastionname != null" >
        #{fstatstastionname,jdbcType=VARCHAR},
      </if>
      <if test="fcoalname != null" >
        #{fcoalname,jdbcType=VARCHAR},
      </if>
      <if test="ticketNo != null" >
        #{ticketNo,jdbcType=VARCHAR},
      </if>
      <if test="fdisbuttname != null" >
        #{fdisbuttname,jdbcType=VARCHAR},
      </if>
      <if test="fconsignername != null" >
        #{fconsignername,jdbcType=VARCHAR},
      </if>
      <if test="fheavytonnum != null" >
        #{fheavytonnum,jdbcType=DECIMAL},
      </if>
      <if test="femptytonnum != null" >
        #{femptytonnum,jdbcType=DECIMAL},
      </if>
      <if test="fweighttonnum != null" >
        #{fweighttonnum,jdbcType=DECIMAL},
      </if>
      <if test="fchecktonnum != null" >
        #{fchecktonnum,jdbcType=DECIMAL},
      </if>
      <if test="fisweightnumd != null" >
        #{fisweightnumd,jdbcType=DECIMAL},
      </if>
      <if test="fstatstastioncodenum != null" >
        #{fstatstastioncodenum,jdbcType=DECIMAL},
      </if>
      <if test="fcoalcodevcr != null" >
        #{fcoalcodevcr,jdbcType=VARCHAR},
      </if>
      <if test="traincount != null" >
        #{traincount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.modular.CoalMS.model.TVTrainsumExample" resultType="java.lang.Integer" >
    select count(*) from T_V_TRAINSUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_V_TRAINSUM
    <set >
      <if test="record.company != null" >
        COMPANY = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.ftraincodevcr != null" >
        FTRAINCODEVCR = #{record.ftraincodevcr,jdbcType=VARCHAR},
      </if>
      <if test="record.ftrainordervcr != null" >
        FTRAINORDERVCR = #{record.ftrainordervcr,jdbcType=VARCHAR},
      </if>
      <if test="record.farriveporttimedtm != null" >
        FARRIVEPORTTIMEDTM = #{record.farriveporttimedtm,jdbcType=DATE},
      </if>
      <if test="record.ftrainnumnum != null" >
        FTRAINNUMNUM = #{record.ftrainnumnum,jdbcType=VARCHAR},
      </if>
      <if test="record.funloadflagnum != null" >
        FUNLOADFLAGNUM = #{record.funloadflagnum,jdbcType=DECIMAL},
      </if>
      <if test="record.fisweightnum != null" >
        FISWEIGHTNUM = #{record.fisweightnum,jdbcType=DECIMAL},
      </if>
      <if test="record.fweightdtm != null" >
        FWEIGHTDTM = #{record.fweightdtm,jdbcType=DATE},
      </if>
      <if test="record.fweightflag != null" >
        FWEIGHTFLAG = #{record.fweightflag,jdbcType=VARCHAR},
      </if>
      <if test="record.fbelongdatetimedtm != null" >
        FBELONGDATETIMEDTM = #{record.fbelongdatetimedtm,jdbcType=DATE},
      </if>
      <if test="record.fstatstastionname != null" >
        FSTATSTASTIONNAME = #{record.fstatstastionname,jdbcType=VARCHAR},
      </if>
      <if test="record.fcoalname != null" >
        FCOALNAME = #{record.fcoalname,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketNo != null" >
        TICKET_NO = #{record.ticketNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fdisbuttname != null" >
        FDISBUTTNAME = #{record.fdisbuttname,jdbcType=VARCHAR},
      </if>
      <if test="record.fconsignername != null" >
        FCONSIGNERNAME = #{record.fconsignername,jdbcType=VARCHAR},
      </if>
      <if test="record.fheavytonnum != null" >
        FHEAVYTONNUM = #{record.fheavytonnum,jdbcType=DECIMAL},
      </if>
      <if test="record.femptytonnum != null" >
        FEMPTYTONNUM = #{record.femptytonnum,jdbcType=DECIMAL},
      </if>
      <if test="record.fweighttonnum != null" >
        FWEIGHTTONNUM = #{record.fweighttonnum,jdbcType=DECIMAL},
      </if>
      <if test="record.fchecktonnum != null" >
        FCHECKTONNUM = #{record.fchecktonnum,jdbcType=DECIMAL},
      </if>
      <if test="record.fisweightnumd != null" >
        FISWEIGHTNUMD = #{record.fisweightnumd,jdbcType=DECIMAL},
      </if>
      <if test="record.fstatstastioncodenum != null" >
        FSTATSTASTIONCODENUM = #{record.fstatstastioncodenum,jdbcType=DECIMAL},
      </if>
      <if test="record.fcoalcodevcr != null" >
        FCOALCODEVCR = #{record.fcoalcodevcr,jdbcType=VARCHAR},
      </if>
      <if test="record.traincount != null" >
        TRAINCOUNT = #{record.traincount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_V_TRAINSUM
    set COMPANY = #{record.company,jdbcType=VARCHAR},
      FTRAINCODEVCR = #{record.ftraincodevcr,jdbcType=VARCHAR},
      FTRAINORDERVCR = #{record.ftrainordervcr,jdbcType=VARCHAR},
      FARRIVEPORTTIMEDTM = #{record.farriveporttimedtm,jdbcType=DATE},
      FTRAINNUMNUM = #{record.ftrainnumnum,jdbcType=VARCHAR},
      FUNLOADFLAGNUM = #{record.funloadflagnum,jdbcType=DECIMAL},
      FISWEIGHTNUM = #{record.fisweightnum,jdbcType=DECIMAL},
      FWEIGHTDTM = #{record.fweightdtm,jdbcType=DATE},
      FWEIGHTFLAG = #{record.fweightflag,jdbcType=VARCHAR},
      FBELONGDATETIMEDTM = #{record.fbelongdatetimedtm,jdbcType=DATE},
      FSTATSTASTIONNAME = #{record.fstatstastionname,jdbcType=VARCHAR},
      FCOALNAME = #{record.fcoalname,jdbcType=VARCHAR},
      TICKET_NO = #{record.ticketNo,jdbcType=VARCHAR},
      FDISBUTTNAME = #{record.fdisbuttname,jdbcType=VARCHAR},
      FCONSIGNERNAME = #{record.fconsignername,jdbcType=VARCHAR},
      FHEAVYTONNUM = #{record.fheavytonnum,jdbcType=DECIMAL},
      FEMPTYTONNUM = #{record.femptytonnum,jdbcType=DECIMAL},
      FWEIGHTTONNUM = #{record.fweighttonnum,jdbcType=DECIMAL},
      FCHECKTONNUM = #{record.fchecktonnum,jdbcType=DECIMAL},
      FISWEIGHTNUMD = #{record.fisweightnumd,jdbcType=DECIMAL},
      FSTATSTASTIONCODENUM = #{record.fstatstastioncodenum,jdbcType=DECIMAL},
      FCOALCODEVCR = #{record.fcoalcodevcr,jdbcType=VARCHAR},
      TRAINCOUNT = #{record.traincount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>