@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
	<div class="row">
		<div class="col-sm-12">
			@for(notice in noticeList){
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					${notice.content}
				</div>
			@}
		</div>
		<div>
			<label style="font-family: 微软雅黑 Light; font-size: 35px;color: #000;letter-spacing: 2px; position:absolute;left:20%;top:20%">  欢迎使用 煤炭计量查询统计系统  </label>
		</div>
	</div>
</div>
@}
