/*
 *
 * 功能: Train1
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train1Table {
    min-width: 1600px;
}

#Train1Dbody {
    min-height: 800px;
}

/*
 *
 * 功能: Train3
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train3Table {
    /*min-width: 1600px;*/
}

#Train3DTable {
    /*min-width: 1600px;*/
}

#Train3Dbody {
    min-height: 800px;
}

/*
 *
 * 功能: Train4
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train4Table {
    /*min-width: 1600px;*/
}

#Train4Dbody {
    min-height: 800px;
}

/*
 *
 * 功能: Train5
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train5Table {
    /*min-width: 1600px;*/
}

#Train5DTable {
    /*min-width: 800px;*/
}

#Train5Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Train6
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train6Table {
    /*min-width: 1600px;*/
}

#Train6Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Train7
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train7Table {
    min-width: 1400px;
}

#Train7Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Train8
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Train8Table {
    /*min-width: 1600px;*/
}

#Train8Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship1
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship1Table {
    /*min-width: 1600px;*/
}

#Ship1DTable {
    min-width: 1600px;
}

#Ship1Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship2
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship2Table {
    /*min-width: 1600px;*/
}

#Ship2DTable {
    min-width: 1600px;
}

#Ship2Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship3
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship3Table {
    min-width: 1600px;
}

#Ship3Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship4
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship4Table {
    min-width: 1800px;
}

#Ship4Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship5
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship5Table {
    min-width: 1400px;
}

#Ship5Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship7
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship7QTable {
    /*min-width: 1600px;*/
}

#Ship7Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Ship8
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Ship8QTable {
    /*min-width: 1600px;*/
}

#Ship8Table {
    min-width: 1400px;
}

#Ship8Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Yard1
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Yard1D1Table {
    /*min-width: 1600px;*/
}

#Yard1D2Table {
    /*min-width: 1600px;*/
}

#Yard1Dbody {
    min-height: 600px;
}

/*
 *
 * 功能: Baseinfo1
 *
 * @作者 Andy
 * @时间 2019/5/7 13:35
 * @return
 *
 */

#Baseinfo1Table {
    /*min-width: 1600px;*/
}

#Baseinfo1Dbody {
    min-height: 600px;
}




